<!-- main -->
<% if (session.cart) { %>
<main class="contact_bg homepage container text-center">
    <h1>Order Summary</h1>
    <hr>
    <div class="pizza-list d-flex flex-column text-center justify-content-center align-items-center">
        <% for (let pizza of Object.values(session.cart.items)) { %>
        <div class="row container-fluid d-flex my-2">
            <div class="col d-flex">
                <img src="/img/<%= pizza.item.image %>" width=50 alt="pizza">
                <div class="d-flex flex-column ms-3">
                    <h5><%= pizza.item.name %></h5>
                    <span><%= pizza.item.size %></span>
                </div>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <span><%= pizza.qty %>pc(s)</span>
            </div>
            <div class="col d-flex justify-content-end align-items-center">
                <span>₱<%= pizza.item.price * pizza.qty %></span>
            </div>
        </div>
        <% } %>
    </div>
    <hr>
    <div class="total-price d-flex flex-column text-center justify-content-center align-items-center">
        <div class="row container-fluid d-flex my-2">
            <div class="col d-flex">
            </div>
            <div class="col d-flex">
            </div>
            <div class="col d-flex flex-column justify-content-start align-items-end">
                <span class="mb-2">Total Amount: <b>₱<%= session.cart.totalPrice %></b></span>
            </div>
        </div>
        
        <div class="row container-fluid d-flex">
            <div class="col d-flex">
            </div>
            <div class="col d-flex">
            </div>
            <% if (user) { %>
            <div class="col d-flex flex-column justify-content-end">
                <form action="/orders" method="POST" class="d-flex flex-column">
                    <input name="phone" class="mb-2" type="text" placeholder="Enter phone number">
                    <input name="address" class="mb-2" type="text" placeholder="Enter address">
                    <div class="d-flex flex-column align-items-end">
                        <button type="submit" class="btn btn-warning w-50">Order Now</button>
                    </div>
                </form>
            </div>
            <% } else { %>
            <div class="col d-flex flex-column justify-content-end">
                <div class="d-flex flex-column align-items-end">
                    <a href="/login" type="button" class="btn btn-warning w-50">Login to continue</a>
                </div>
            </div>
            <% } %>
        </div>
        
        
    </div>
</main>
<% } else { %>
<main class="contact_bg cartpage text-center d-flex flex-column align-items-center justify-content-center">
    <h1>Cart Empty</h1>
    <p>
        You probably haven't ordered a pizza yet.
        To order a pizza, go to the main page.
    </p>
    <a href="/" type="button" class="btn btn-warning">Go Back</a>
</main>
<% } %>
<!-- main -->